/* Tablet */
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}
/* Desktop */
@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

/* Tablet */
@media screen and (min-width: 768px) {
    .link-logo {
        display: flex;
        padding: 0;
    }
    .nav-list {
        display: flex;
    }
    .cont-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .header-menu {
        display: none;
    }
    .logo-header {
        margin-right: 120px;
    }
}

/* Desktop */
@media only screen and (min-width:1158px) {
    .logo-header {
        margin-right: 76px;
    }
    .cont-list {
        flex-direction: row;
        gap: 40px;
    }
}


/* banner */
/* Mobile */
@media screen and (min-width:320px) and (min-resolution: 192dpi) {
    .banner {
        background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-mob@2x.jpg);
    }
}

@media screen and (min-width:320px) and (min-resolution: 288dpi) {
    .banner {
        background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-mob@3x.jpg);
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .banner {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-tab.jpg);
    }

    .banner .maine-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
    
    @media (min-resolution:192dpi) {
        .banner {
            background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-tab@2x.jpg);
        }
    }
     @media (min-resolution: 288dpi) {
        .banner {
            background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-tab@3x.jpg);
        }
     }
    
}

/* Desktop */
@media only screen and (min-width:1158px) {
    .banner {
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-desk.jpg);
        max-width: 1440px;
    }
        .banner .maine-title {
        margin-bottom: 48px;
    }
    @media (min-resolution:192dpi) {
        .banner {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-desk@2x.jpg);
        }
    }
    @media (min-resolution: 288dpi) {
        .banner {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-desk@3x.jpg);
            }
        }

}



/* solutions */


/* Tablet */
@media screen and (min-width: 768px) {
    .solutions-link-item {
        width: calc((100% - 24px) / 2);
    }
    
    .solutions-link {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 736px;
        gap: 72px 24px;
    }

    .titl {
        text-align: start;
    }
}

/* Desktop */
@media screen and (max-width:1158px) {
    .box-item .icon {
        visibility: hidden;
    }
}

/* Desktop */
@media only screen and (min-width:1158px) {
    .section-solutions {
        padding: 120px 0;
        

    .box-item {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        padding-bottom: 8px;
        padding: 24px 100px;
        position: relative;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }

    .icon {
        visibility: visible;
    }

    .solutions-link {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        }
    }
    .titl {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;

    }

    .text-sol {
        font-weight: 400;
    }
}


/* team */

/* Tablet */
@media screen and (min-width: 768px) {
    .section-team {
        padding: 96px 0;

    }

    .section-team-item {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }
}


 /* Desktop */
 @media only screen and (min-width:1158px) {
    .section-team {
            padding: 120px 0;
    
    }
    
    .section-team-item {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: space-between;
        
        }

 }

 /* portfolio */

 /* Tablet */
 @media screen and (min-width: 768px) {
    .sect-port-item {
        width: calc((100% - 24px) / 2);
    }
    .sect-portf-link {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 72px;
        max-width: 736px;
        

    }
 }

  /* Desktop */
  @media only screen and (min-width:1158px) {
    .section-portfolio {
        padding: 120px 0;
    }
    .sect-port-item {
        width: calc((100% - 48px) / 3);
        
    }
    .sect-portf-link {
       row-gap: 48px;
       justify-content: center;
       max-width: 1128px;
    }
  }

  /* footer */

 /* Tablet */
 @media screen and (min-width: 768px) {
    .footer-container {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
    }
    
    .logo-ft {
        display: inline-block;
    }
    .footer-icons-text {
        text-align: start;
    }
    .footer-form-useremail {
       

    }
    .footer-form-text {
        text-align: start;
    }
    .footer-form-container {
        flex-direction: row;
        
    }
    .footer-email-form {
        min-width: 264 px;
    }
 }

   /* Desktop */
   @media only screen and (min-width:1158px) {
    .footer-sect {
        padding: 100px 0;
    }
    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 0;
        row-gap: 0;
        padding-left: 15px;
    }
    .footer-sect-cont {
        margin-right: 120px;
    }
    .footer-txt {
        max-width: 264px;
    }
    .footer-icons {
        margin-right: 80px
    }
    .footer-email-form {
        opacity: 1;
    }
   }

   /* popup */

    /* Tablet */
    @media screen and (min-width: 768px) {
        .modal {
            max-width: 408px;
            max-height: 584px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 72px 24px 24px 24px;
        }
    }

    /* Desktop */
    @media only screen and (min-width:1158px) {
        .modal {
           
        }
    }